---
- name: Install Splunk on Ubuntu
  hosts: splunk_servers
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Remove any existing or corrupted splunk package
      file:
        path: /tmp/splunk.deb
        state: absent

    - name: Download Splunk package using curl
      shell: |
        curl -L -o /tmp/splunk.deb "https://download.splunk.com/products/splunk/releases/9.4.0/linux/splunk-9.4.0-6b453916960d-linux-2.6-amd64.deb"
      args:
        warn: false

    - name: Install Splunk .deb package
      apt:
        deb: "/tmp/splunk.deb"

    - name: Accept License and Start Splunk
      shell: "/opt/splunk/bin/splunk start --accept-license --answer-yes --no-prompt --seed-passwd changeme123"
      args:
        creates: /opt/splunk/etc/splunk.ready