---
- name: Install Splunk on Ubuntu
  hosts: splunk_servers
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Download Splunk package
      get_url:
        url: "https://download.splunk.com/products/splunk/releases/9.1.0.1/linux/splunk-9.1.0.1-7773d08292e1-linux-2.6-amd64.deb"
        dest: "/tmp/splunk.deb"

    - name: Install Splunk .deb package
      apt:
        deb: "/tmp/splunk.deb"

    - name: Accept license and start Splunk
      shell: "/opt/splunk/bin/splunk start --accept-license --answer-yes --no-prompt --seed-passwd changeme123"
      args:
        creates: /opt/splunk/etc/splunk.launch